@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allura&family=Concert+One&family=Gloria+Hallelujah&family=Indie+Flower&family=Josefin+Slab:ital,wght@1,100&family=M+PLUS+Code+Latin:wght@200&family=Rubik+Marker+Hatch&display=swap');
.parent
{
    height: 500px;
    display: flex;
    /* background-color: rgb(236, 228, 218); */
    justify-content: space-evenly;
}
.col
{
    width: 215px;
    height: 282px;
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 44px;
    box-shadow: 5px 1px;
}


.col-1
{
    background-color: rgb(234, 232, 235);
}
.col-2
{
    background-color:  rgb(234, 232, 235);
}
.col-3
{
    background-color: rgb(234, 232, 235);
}
.col-4
{
    background-color: rgb(234, 232, 235);
}
img{
    width:100%;
    height:282px;
    border-radius: 34px;
}
h2{
    text-align: center;
    color: white;
    text-shadow: 1px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
}
p
{
    font-family: 'Rubik Marker Hatch', cursive;
    color:white;
    
}

button{
    top: 600px;
    border-radius: 5px;
   margin-left: 48px; 
   padding: 7px;
   transition: transform .2s;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    button:hover
    {   transform: scale(1.3);
        background-color: bisque;
        color: blueviolet;
        font-weight: bolder;
}
body{
    background-image: url("./images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}